body {
    font-family: Arial, sans-serif;
    background-color: lemonchiffon;
    display: flex;
    margin-top: 30px;
   
}

.calculator {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 15px 10px rgba(0,0,0,0.1);
    width: 500px;
    margin: 0 auto;
    background-color: lightpink;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}

button {
    width: 98%;
    padding: 10px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #28a745;
}

.result {
    margin-top: 20px;
    text-align: center;
}